html, body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#app{
    height: 100vh;
}

.container {
    text-align: center;
    margin: 0 auto;
    height: 100%;
}

.MapContainer {
    z-index: -1;
}

.loginContainer{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: rgba(226, 226, 226, 0.96);
}

.loginFormContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.loginFormContainer img {
   width: 300px;
   height: 300px;
   margin: 0 auto;
}

.loginForm input {
    border: 4px solid rgba(223, 132, 25, 0.56);
    border-radius: 40px;
    height: 30px;
    width: 350px;
    margin-top:15px;
    text-align: center;
    background-color: transparent;
}

.loginButton{
    background: rgba(223, 132, 25, 0.79);
    border-radius: 40px;
    width: 350px;
    height: 30px;
    margin-top:15px;
}

.mapButtonsContainer {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 100px;
    display: flex;
    flex-direction: row;
}

.mapButton {
    background-color: rgba(223, 132, 25, 0.79);
    height: 100px;
    width: 90px;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    margin-right: 15px;
}

.mapButton i {
    font-size: 50px;
    color:white;
    grid-row: 2;
}

.Analyticscontainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(25,1fr);
}

.analyticsHeaderContainer {
    width: 100vw;
    background-color: rgba(237, 138, 25, 0.89);
    grid-column-start: 1;
    grid-column-end: 12; 
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: repeat(12,1fr);
}

.analyticsHeaderContainer .fa-cogs {
    font-size: 40px;
    color:white;
    grid-row: 2;
    grid-column: 12;
    margin-right: 25px;
}

.analyticsHeaderContainer .fa-arrow-left {
    font-size: 40px;
    color:white;
    grid-row: 2;
    grid-column: 1;
    margin-left: 25px;
}

.analyticsSidebarContainer {
    background-color: rgba(11, 4, 32, 0.84);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 26;
    display: flex;
    flex-direction: column;
}

.sidebarElement {
    height: 25%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    border-bottom: 1px solid rgba(101, 93, 122, 0.88);
}

.sidebarElement i {
    color: #BAB9B9;
    grid-row: 2;
    margin: 0 auto;
    font-size: 50px;
}

.sidebarElement h3 {
    margin: 0 auto;
    grid-row: 2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 40px;
    color: #BAB9B9;
}

.analyticsNavContainer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 13;
    background-color: rgba(198, 198, 198, 0.3); 
    display: flex;
    flex-direction: row;
}

.analyticsNav {
    display: flex;
    flex-direction: row;
    
}

.analyticsNavContainer h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    margin: 0;
    margin-left: 25px;
}

.analysticsNavElement {
    margin-left:100px;
}

.analysticsNavElement p {
    font-family: Prompt;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
}

.yearOverview {
    grid-row-start: 6;
    grid-column: 3;
    grid-column-end: 5;
    font-family: Prompt;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 24px;
}

.numberOfRatingContainer{
    width: 241px;
    height: 238px;
    border: 20px solid rgba(109, 158, 235, 0.91);
    box-sizing: border-box;
    border-radius: 50%;
    grid-row-start: 10;
    grid-column: 11;
}

.ratingSince, .ratingDate {
    font-family: Prompt;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 18px;
    text-align: center;
}

.ratingCount {
    font-family: Prompt;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 36px;
}

.Analyticscontainer img {
    grid-row-start: 10;
    grid-row-end: 26;
    grid-column: 6;
}
.searchBar {
    z-index: 1;
    position: absolute;
    margin-top: 110%;
    margin-left: 5%;
    width: 90%;
    vertical-align: middle;
    display: flex;
    flex-direction: row-reverse;
}

.searchButton {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: none;
  background-color:rgba(223, 132, 25, 0.67);
}

.searchButton.buttonIsClicked {
  width: 8rem;
  height: 8rem;
  background-color: rgba(223, 132, 25, 0.67);
}

.searchBar .textarea {
    color: white;   
    border: none;
    border-radius: 2rem;
    padding-left: 1rem;
    width: 50%;
    height: 25%;
    background-color: rgba(37, 26, 68, 0.84);
    font-size: 2rem;
    position: absolute;
    margin-left: -38rem;
    margin-top: -6rem;
}

.searchButton {
    padding: 2rem;
    border-radius: 50%;
    border: none;
    background-color:rgba(223, 132, 25, 0.67);
}

.searchButton.buttonIsClicked {
    padding: 3rem;
    background-color: rgba(223, 132, 25, 0.67);
    display: none;
}

.searchBar .textarea {
    border: none;
    border-radius: 2rem;
    padding-left: 1rem;
    width: 70%;
    height: 3rem;
    background-color: rgba(37, 26, 68, 0.84);
    font-size: 2rem;
}

.modal {
    z-index: 5;
    // margin-right: 5rem; 
}

.closeBtn {
    background: none;
    border: none;    
}

.modalTopSpan {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
}

.stars {
    display: flex;
    justify-content:space-between;
    width: 5rem;
    align-items: center;
    margin-right: 3rem;
}

.hr {
    border: 1px solid rgba(255, 248, 248, 0.48);
}

form {
    text-align: center;
    textarea {
        text-align: center;
        color: white;
        margin-top: 1rem;
        outline: none;
    }
}

.addReview {
    margin: 0 auto;
    text-align: center;
}
.review_input {
    border:none;
    border-radius: 2rem;
    resize: none;
    height: 10rem;
    width: 90%;
    margin-left: 4%;
    margin-right: 2%;
    background-color: rgba(255, 255, 255, 0.5);
}
span {
    display: flex;
    margin-left: 1.5rem;
    p {
        color: green;
        margin: .5rem;
    }
    h1 {
        color: white;
        font-size: .8rem;
    }
}

.addReview_button {
    background-color: #ED8A19;
    color: white;
    border: none;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    
}